page-more {
    .logo_header {
        padding: 10px;
        padding-left: 15px;
        border-bottom: 2px solid #85adbc;
        img {
            width: 75px;
        }
    }
    .more_content {
        width: 100%;
        padding-top: 25px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 0px !important;
        .row {
            width: 100%;
            padding-bottom: 15px;
            p {
                width: 100%;
                color: #303030;
                margin: 0px;
                padding: 0px;
                padding-bottom: 10px;
                font-weight: 600;
            }
            select {
                width: 100%;
                border: 1px solid #b1b1b1;
                height: 35px;
                background: transparent;
                padding-left: 10px;
                -webkit-appearance: none;
                background-image: url("/assets/imgs/asset_drop_down.png");
                background-repeat: no-repeat;
                background-position: right;
                background-size: 30px;
                font-weight: 500;
            }
            input {
                width: 100%;
                border: 1px solid #b1b1b1;
                height: 35px;
                font-weight: 500;
                color: #121212;
                background: transparent;
                padding-left: 10px;
                -webkit-appearance: none;
                background-position: right;
                background-size: 30px;
                &::placeholder {
                    color: #121212;
                }
            }
        }
    }
    .forex_grid {
        padding: 10px;
        .row {
            padding-bottom: 10px;
        }
        .grid_box {
            background-image: url("/assets/imgs/asset_dollar.png");
            background-repeat: no-repeat;
            background-size: 35px;
            padding-left: 50px;
            background-position: 0px;
            background-position: top 4px left;
            p {
                padding: 0px;
                margin: 0px;
                color: #303030;
                padding-bottom: 7px;
                font-size: 15px;
                font-weight: 600;
            }
            h5 {
                margin: 0px;
                padding: 0px;
                color: #297ac6;
                padding-bottom: 5px;
            }
            h6 {
                padding: 0px;
                margin: 0px;
                color: #303030;
                font-size: 14px;
            }
        }
    }
}

.bottom_bay {
    .bottom_btn {
        text-align: center;
        padding: 15px;
        img {
            width: 30px;
        }
        p {
            margin: 0px;
            padding: 0px;
            color: #fff;
            text-align: center;
            font-size: 12px;
        }
    }
}