<ion-header class="nav_header theme_primary">
    <div class="nav_header_title">
        More
    </div>
</ion-header>
<ion-content>
    <div class="logo_header">
        <img src="assets/imgs/asset_logo.png">
    </div>
    <div class="more_content">
        <div class="row">
            <p>Select Currency</p>
            <select class="select_box">
              <option>USD</option>
              <option>SR</option>
            </select>
        </div>
        <div class="row">
            <p>Enter Amount</p>
            <input class="" placeholder="96.00" type="number">
        </div>
    </div>
    <div class="logo_header borderNone">
        <img src="assets/imgs/asset_logo.png">
    </div>
    <div class="forex_grid">
        <ion-row>
            <ion-col col-6>
                <div class="grid_box">
                    <p>Forex 1</p>
                    <h6>USD</h6>
                </div>
            </ion-col>
            <ion-col col-6>
                <div class="grid_box">
                    <p>FRS</p>
                    <h5>3.75</h5>
                    <h6>INR..........USD</h6>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>
                <div class="grid_box">
                    <p>Forex 2</p>
                    <h6>USD</h6>
                </div>
            </ion-col>
            <ion-col col-6>
                <div class="grid_box">
                    <p>FRS</p>
                    <h5>3.74</h5>
                    <h6>INR..........USD</h6>
                </div>
            </ion-col>
        </ion-row>
    </div>

</ion-content>
<ion-footer>
    <div class="bottom_bay theme_primary">
        <div class="bottom_btn floatLeft">
            <img src="assets/imgs/asset_back.png">
            <p>Back</p>
        </div>
        <div class="bottom_btn floatRight" (click)="proceed()">
            <img src=" assets/imgs/asset_proceed.png ">
            <p>Proceed</p>
        </div>
        <div class="clear "></div>
    </div>
</ion-footer>