<ion-header class="nav_header theme_primary">
    <div class="nav_header_title">
        Forex
    </div>
</ion-header>
<ion-content>

    <h2>Confirmation</h2>

    <div class="wallet_main">
        <div class="wallet_header">
            <ion-row>
                <ion-col col-6 class="p0">
                    <div class="country_circle">
                        <img src=" assets/imgs/asset_saudi.png ">
                    </div>
                    <div class="currency">
                        SAR
                        <p>Saudi Riyal</p>
                    </div>
                </ion-col>
                <ion-col col-6 class="textRight p0">
                    <div class="inner">
                        <p>Total SAR</p>
                        <span>SAR</span>
                        <span><h5>20,000.00</h5></span>
                    </div>

                </ion-col>
            </ion-row>
        </div>
        <div class="wallet_header_dark">
            <ion-row>
                <ion-col col-6 class="p0">
                    <div class="country_circle">
                        <img src=" assets/imgs/asset_usa.png ">
                    </div>
                    <div class="currency">
                        USD
                        <p>US Dollar</p>
                    </div>
                </ion-col>
                <ion-col col-6 class="textRight p0">
                    <div class="inner">
                        <p>Total SAR</p>
                        <span>$</span>
                        <span><h5>20,000.00</h5></span>
                    </div>

                </ion-col>
            </ion-row>
        </div>
    </div>
    <div class="wallet_main">
        <div class="other_charge">
            <ion-row>
                <ion-col col-6>
                    <p>Total Charges</p>
                </ion-col>
                <ion-col col-6 class="textRight">
                    <h5><span>SAR</span>10.00</h5>
                </ion-col>
            </ion-row>
        </div>
        <div class="other_charge">
            <ion-row>
                <ion-col col-6>
                    <p>Total Vat @ 5%</p>
                </ion-col>
                <ion-col col-6 class="textRight">
                    <h5><span>SAR</span>0.50</h5>
                </ion-col>
            </ion-row>
        </div>
    </div>
    <hr>
    <div class="wallet_main">
        <div class="total_charge">
            <ion-row>
                <ion-col col-6>
                    <p>Total Amount Deducted</p>
                </ion-col>
                <ion-col col-6 class="textRight">
                    <h5><span>SAR</span>1010.50</h5>
                </ion-col>
            </ion-row>
        </div>
    </div>
    <div class="wallet_header">
        <ion-row>
            <ion-col col-6 class="p0">
                <p>Wallet Balance</p>
            </ion-col>
            <ion-col col-6 class="textRight p0">
                <span>SAR</span>
                <span><h5>18,989.50</h5></span>
            </ion-col>
        </ion-row>
    </div>
    <br>
</ion-content>
<ion-footer>
    <div class="bottom_bay">

        <div class="bottom_btn floatRight confirm_btn" (click)="next()">
            <p>Confirm</p>
        </div>
        <div class="clear "></div>
    </div>

</ion-footer>