page-scanqrcode {
    h2 {
        margin: 0px;
        padding: 15px;
        font-size: 17px;
        color: #0b0b0b;
        border-bottom: 2px solid #4f6398;
        margin-bottom: 10px;
    }
    hr {
        border: 1px solid #4f6398;
        height: 0px;
    }
    .qrcode {
        padding-bottom: 30px;
        padding-top: 30px;
        img {
            margin-bottom: 15px;
        }
        p {
            padding: 0px;
            margin: 0px;
            color: #303030;
            padding: 5px;
        }
        .btn {
            background: #ed3b3b;
            color: #fff;
            border-radius: 20px;
            cursor: pointer;
            width: 50%;
            margin: 0 auto;
            padding: 5px;
        }
    }
}