<ion-header class="nav_header theme_primary">
    <div class="nav_header_title">
        Forex
    </div>
</ion-header>
<ion-content>
    <h2>QR Code</h2>
    <div class="qrcode">
        <ion-row>
            <ion-col class="textCenter">
                <img src=" assets/imgs/asset_qr_forex.png ">
                <p>Display QR Code</p>
            </ion-col>
            <ion-col class="textCenter">
                <img src=" assets/imgs/asset_forex.png ">
                <div class="btn">Buy Forex</div>
            </ion-col>
        </ion-row>
    </div>

    <hr>


</ion-content>