<ion-header class="nav_header theme_primary">
    <div class="nav_header_title">
        Forex
    </div>
</ion-header>
<ion-content>
    <div class="wallet_header">
        <ion-row>
            <ion-col col-6 class="p0">
                <p>Wallet Balance</p>
            </ion-col>
            <ion-col col-6 class="textRight p0">
                <span>SAR</span>
                <span><h5>20,000.00</h5></span>
            </ion-col>
        </ion-row>
    </div>
    <div class="wallet_content">
        <div class="row">
            <p>Select Currency</p>
            <select class="select_box">
              <option>USD</option>
              <option>SR</option>
            </select>
        </div>
    </div>
    <div class="wallet_list">
        <div class="wallet_header">
            <div class="country_circle">
                <img src=" assets/imgs/asset_saudi.png ">
            </div>
            <div class="country_detail">
                <div class="currency">
                    SAR
                </div>
                <div class="editor">
                    <input class="" placeholder="SAR 1000.00">
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <p>Convertion Rates</p>
        <li>
            <div class="country_circle">
                <img src=" assets/imgs/asset_circle.png ">
            </div>
            <div class="country_detail">
                <div class="provider floatLeft">
                    Provider1
                </div>
                <div class="provider_detail floatLeft">
                    <h5><span>USD</span> 266.667</h5>
                    <p>1 SAR = 0.266666 USD</p>
                </div>
                <div class="radio_div floatRight">
                    <ion-radio slot="start" value="biff" checked></ion-radio>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </li>
        <li>
            <div class="country_circle">
                <img src=" assets/imgs/asset_circle.png ">
            </div>
            <div class="country_detail">
                <div class="provider floatLeft">
                    Provider1
                </div>
                <div class="provider_detail floatLeft">
                    <h5><span>USD</span> 266.667</h5>
                    <p>1 SAR = 0.266666 USD</p>
                </div>
                <div class="radio_div floatRight">
                    <ion-radio slot="start" value="biff" checked></ion-radio>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </li>
        <li>
            <div class="country_circle">
                <img src=" assets/imgs/asset_circle.png ">
            </div>
            <div class="country_detail">
                <div class="provider floatLeft">
                    Provider1
                </div>
                <div class="provider_detail floatLeft">
                    <h5><span>USD</span> 266.667</h5>
                    <p>1 SAR = 0.266666 USD</p>
                </div>
                <div class="radio_div floatRight">
                    <ion-radio slot="start" value="biff" checked></ion-radio>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </li>
    </div>


</ion-content>
<ion-footer>
    <div class="bottom_bay">
        <div class="bottom_btn floatLeft back_btn" (click)="back()">
            <p>Back</p>
        </div>
        <div class="bottom_btn floatRight next_btn" (click)="next()">
            <p>Proceed</p>
        </div>
        <div class="clear "></div>
    </div>

</ion-footer>