        page-wallet1 {
            .wallet_header {
                background: #233c7e;
                padding: 10px;
                padding-top: 15px;
                padding-bottom: 15px;
                p {
                    margin: 0px;
                    padding: 0px;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 1px;
                    position: relative;
                    top: 5px;
                }
                span {
                    display: inline-block;
                    color: #fff;
                    margin-right: 5px;
                    font-weight: 400;
                }
                h5 {
                    margin: 0px;
                    padding: 0px;
                    font-size: 22px;
                    letter-spacing: 1px;
                }
            }
            .wallet_content {
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 15px;
                padding-top: 20px;
                border-top: 2px solid #86adbc;
                border-bottom: 2px solid #86adbc;
                .row {
                    width: 100%;
                    padding-bottom: 15px;
                    p {
                        width: 100%;
                        color: #303030;
                        margin: 0px;
                        padding: 0px;
                        padding-bottom: 10px;
                        font-weight: 600;
                    }
                    select {
                        width: 100%;
                        border: 1px solid #b1b1b1;
                        height: 35px;
                        background: transparent;
                        padding-left: 10px;
                        -webkit-appearance: none;
                        background-image: url("/assets/imgs/asset_drop_down.png");
                        background-repeat: no-repeat;
                        background-position: right;
                        background-size: 30px;
                        font-weight: 500;
                    }
                    input {
                        width: 100%;
                        border: 1px solid #b1b1b1;
                        height: 35px;
                        font-weight: 500;
                        color: #121212;
                        background: transparent;
                        padding-left: 10px;
                        -webkit-appearance: none;
                        background-position: right;
                        background-size: 30px;
                        &::placeholder {
                            color: #121212;
                        }
                    }
                }
            }
            .wallet_list {
                padding: 5px;
                .wallet_header {
                    background: #233c7e;
                    padding: 10px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-radius: 5px;
                    .country_circle {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        float: left;
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            object-fit: cover;
                            object-position: center;
                            border: 1px solid #fff;
                        }
                    }
                    .country_detail {
                        width: calc(100% - 60px);
                        padding-right: 35px;
                        float: left;
                        background-image: url("/assets/imgs/asset_calculator.png");
                        background-position: right;
                        background-repeat: no-repeat;
                        .currency {
                            color: #FFF;
                            font-size: 20px;
                            padding: 20px;
                            width: 80px;
                            float: left;
                        }
                        .editor {
                            width: calc(100% - 80px);
                            float: left;
                            padding: 10px;
                            input {
                                border: none;
                                background: transparent;
                                border-bottom: 2px solid #4e639c;
                                color: #fff;
                                height: 40px;
                                width: 100%;
                                text-align: right;
                                &::placeholder {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
                p {
                    padding: 10px;
                    margin: 0px;
                    color: #2f2f2f;
                    font-size: 16px;
                    font-weight: 600;
                    padding-left: 5px;
                }
                li {
                    background: #dfdfdf;
                    padding: 10px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-radius: 5px;
                    list-style: none;
                    margin-bottom: 10px;
                    .country_circle {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        float: left;
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            object-fit: cover;
                            object-position: center;
                            border: 1px solid #fff;
                        }
                    }
                    .country_detail {
                        width: calc(100% - 60px);
                        float: left;
                        background-repeat: no-repeat;
                        .provider {
                            width: 100px;
                            color: #303030;
                            padding: 13px;
                            padding-right: 0px;
                            font-size: 18px;
                        }
                        .provider_detail {
                            width: calc(100% - 130px);
                            padding: 7px;
                            h5 {
                                margin: 0px;
                                padding: 0px;
                                text-align: right;
                                color: #1a1a1a;
                                font-size: 16px;
                                padding-bottom: 5px;
                            }
                            p {
                                margin: 0px;
                                padding: 0px;
                                text-align: right;
                                color: #1a1a1a;
                            }
                        }
                        .radio_div {
                            width: 30px;
                            text-align: center;
                            .radio-icon {
                                position: relative;
                                top: 17px;
                                width: 19px;
                                height: 19px;
                                .radio-inner {
                                    width: 11px;
                                    height: 11px;
                                }
                            }
                            .radio-checked {
                                border-color: #7d8aac;
                            }
                            .radio-inner {
                                background-color: #7d8aac !important;
                            }
                        }
                    }
                }
            }
            .bottom_bay {
                border-top: 3px solid #0c5b7a;
                border-bottom: 3px solid #0c5b7a;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 15px;
                padding-right: 15px;
                background: #fff;
                .back_btn {
                    background-image: url("/assets/imgs/asset_cancel_dark.png");
                    padding-left: 40px !important;
                    background-position: left;
                }
                .next_btn {
                    background-image: url("/assets/imgs/asset_proceed_dark.png");
                    padding-right: 40px !important;
                    background-position: right;
                }
                .bottom_btn {
                    text-align: center;
                    background-repeat: no-repeat !important;
                    background-size: 30px;
                    img {
                        width: 30px;
                    }
                    p {
                        margin: 0px;
                        padding: 0px;
                        color: #0c5b7a;
                        text-align: center;
                        font-size: 16px;
                    }
                }
            }
        }