page-tabmain {
    .tabbar {
        background: #165a7d !important;
    }
    .tab-button {
        .tab-button-icon {
            color: #44aac1 !important;
            font-size: 20px;
        }
        .tab-button-text {
            color: #44aac1 !important;
            font-weight: 500;
            font-size: 11px;
        }
    }
    .tab-button[aria-selected=true] {
        .tab-button-icon {
            color: #fff !important;
            font-size: 20px;
        }
        .tab-button-text {
            color: #fff !important;
            font-size: 11px;
        }
    }
}