<ion-tabs selectedIndex="3">
    <ion-tab [root]="" tabTitle="Accounts" tabIcon="ios-briefcase"></ion-tab>
    <ion-tab [root]="" tabTitle="Transactions" tabIcon="ios-stats"></ion-tab>
    <ion-tab [root]="" tabTitle="Cards" tabIcon="ios-card"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="More" tabIcon="md-keypad"></ion-tab>
</ion-tabs>