<ion-header class="nav_header theme_primary">
    <div class="nav_header_title">
        Cards
    </div>
</ion-header>
<ion-content padding>
    <div class="not_available">
        <ion-icon name="ios-alert-outline"></ion-icon>
        <p> This page is not available</p>
    </div>

</ion-content>