<ion-header class="nav_header theme_primary">
    <div class="nav_header_title">
        Forex
    </div>
</ion-header>
<ion-content>
    <div class="wallet_header">
        <ion-row>
            <ion-col col-6 class="p0">
                <p>Wallet Balance</p>
            </ion-col>
            <ion-col col-6 class="textRight p0">
                <span>SAR</span>
                <span><h5>20,000.00</h5></span>
            </ion-col>
        </ion-row>
    </div>
    <h2>Summary</h2>

    <div class="wallet_main">
        <div class="wallet_header">
            <ion-row>
                <ion-col col-6 class="p0">
                    <div class="country_circle">
                        <img src=" assets/imgs/asset_saudi.png ">
                    </div>
                    <div class="currency">
                        SAR
                        <p>Saudi Riyal</p>
                    </div>
                </ion-col>
                <ion-col col-6 class="textRight p0">
                    <div class="inner">
                        <span>SAR</span>
                        <span><h5>20,000.00</h5></span>
                    </div>

                </ion-col>
            </ion-row>
        </div>
        <div class="wallet_header">
            <ion-row>
                <ion-col col-6 class="p0">
                    <div class="country_circle">
                        <img src=" assets/imgs/asset_usa.png ">
                    </div>
                    <div class="currency">
                        USD
                        <p>US Dollar</p>
                    </div>
                </ion-col>
                <ion-col col-6 class="textRight p0">
                    <div class="inner">
                        <span>SAR</span>
                        <span><h5>20,000.00</h5></span>
                    </div>

                </ion-col>
            </ion-row>
        </div>
    </div>
    <div class="wallet_main">
        <div class="delivery_charge">
            <ion-row>
                <ion-col col-6>
                    <p>Delivery Charges</p>
                </ion-col>
                <ion-col col-6 class="textRight">
                    <h5>10.00<span>SAR</span></h5>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>
<ion-footer>
    <div class="bottom_bay">
        <div class="bottom_btn floatLeft back_btn" (click)="back()">
            <p>Back</p>
        </div>
        <div class="bottom_btn floatRight next_btn" (click)="next()">
            <p>Proceed</p>
        </div>
        <div class="clear "></div>
    </div>

</ion-footer>