page-wallet3 {
    .wallet_header {
        background: #233c7e;
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        .country_circle {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            float: left;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
                border: 1px solid #fff;
            }
        }
        .currency {
            color: #FFF;
            font-size: 20px;
            padding: 8px;
            padding-left: 15px;
            width: calc(100% - 60px);
            float: left;
            p {
                margin: 0px;
                padding: 0px;
                color: #fff;
                font-size: 12px;
            }
        }
        .inner {
            padding-top: 15px;
            padding-bottom: 15px;
            text-align: right;
        }
        p {
            margin: 0px;
            padding: 0px;
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1px;
            position: relative;
            top: 5px;
        }
        span {
            display: inline-block;
            color: #fff;
            margin-right: 5px;
            font-weight: 400;
        }
        h5 {
            margin: 0px;
            padding: 0px;
            font-size: 22px;
            letter-spacing: 1px;
            color: #fff;
        }
    }
    h2 {
        margin: 0px;
        padding: 15px;
        font-size: 17px;
        color: #0b0b0b;
        border-bottom: 2px solid #4f6398;
        margin-bottom: 10px;
    }
    .wallet_content {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 2px solid #86adbc;
        border-bottom: 2px solid #86adbc;
        .row {
            width: 100%;
            padding-bottom: 15px;
            p {
                width: 100%;
                color: #303030;
                margin: 0px;
                padding: 0px;
                padding-bottom: 10px;
                font-weight: 600;
            }
            select {
                width: 100%;
                border: 1px solid #b1b1b1;
                height: 35px;
                background: transparent;
                padding-left: 10px;
                -webkit-appearance: none;
                background-image: url("/assets/imgs/asset_drop_down.png");
                background-repeat: no-repeat;
                background-position: right;
                background-size: 30px;
                font-weight: 500;
            }
            input {
                width: 100%;
                border: 1px solid #b1b1b1;
                height: 35px;
                font-weight: 500;
                color: #121212;
                background: transparent;
                padding-left: 10px;
                -webkit-appearance: none;
                background-position: right;
                background-size: 30px;
                &::placeholder {
                    color: #121212;
                }
            }
        }
    }
    .wallet_main {
        padding: 5px;
        .wallet_header {
            border-radius: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
    }
    .delivery_charge {
        background: #f2f2f2;
        border-radius: 5px;
        padding: 10px;
        p {
            color: #0b0b0b;
            margin: 0px;
            padding: 5px;
            font-weight: 600;
            padding-left: 0px;
        }
        h5 {
            color: #2b6f8a;
            margin: 0px;
            padding: 0px;
            font-size: 20px;
            span {
                font-size: 14px;
                margin-left: 5px;
            }
        }
    }
    .bottom_bay {
        border-top: 3px solid #0c5b7a;
        border-bottom: 3px solid #0c5b7a;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
        background: #fff;
        .back_btn {
            background-image: url("/assets/imgs/asset_cancel_dark.png");
            padding-left: 40px !important;
            background-position: left;
        }
        .next_btn {
            background-image: url("/assets/imgs/asset_proceed_dark.png");
            padding-right: 40px !important;
            background-position: right;
        }
        .bottom_btn {
            text-align: center;
            background-repeat: no-repeat !important;
            background-size: 30px;
            img {
                width: 30px;
            }
            p {
                margin: 0px;
                padding: 0px;
                color: #0c5b7a;
                text-align: center;
                font-size: 16px;
            }
        }
    }
}