<ion-header class="nav_header theme_primary">
    <div class="nav_header_title">
        Forex
    </div>
</ion-header>
<ion-content>
    <div class="wallet_header">
        <ion-row>
            <ion-col col-6 class="p0">
                <p>Wallet Balance</p>
            </ion-col>
            <ion-col col-6 class="textRight p0">
                <span>SAR</span>
                <span><h5>18,989.50</h5></span>
            </ion-col>
        </ion-row>
    </div>

    <h2>My Transactions</h2>
    <div class="transaction">
        <ul>
            <li class="header">
                <ion-row>
                    <ion-col col-4>Date</ion-col>
                    <ion-col col-4>Amount</ion-col>
                    <ion-col col-4>QR Code</ion-col>
                </ion-row>
            </li>
            <li class="data" (click)="scan()">
                <ion-row>
                    <ion-col col-4>
                        <p>05/Feb/2019</p>
                    </ion-col>
                    <ion-col col-4>
                        <p>SAR 1000.00</p>
                    </ion-col>
                    <ion-col col-4> <img src=" assets/imgs/asset_qr.png "></ion-col>
                </ion-row>
            </li>
            <li class="data" (click)="scan()">
                <ion-row>
                    <ion-col col-4>
                        <p>05/Feb/2019</p>
                    </ion-col>
                    <ion-col col-4>
                        <p>SAR 1000.00</p>
                    </ion-col>
                    <ion-col col-4> <img src=" assets/imgs/asset_qr.png "></ion-col>
                </ion-row>
            </li>
            <li class="data" (click)="scan()">
                <ion-row>
                    <ion-col col-4>
                        <p>05/Feb/2019</p>
                    </ion-col>
                    <ion-col col-4>
                        <p>SAR 1000.00</p>
                    </ion-col>
                    <ion-col col-4> <img src=" assets/imgs/asset_qr.png "></ion-col>
                </ion-row>
            </li>

            <li class="data" (click)="scan()">
                <ion-row>
                    <ion-col col-4>
                        <p>05/Feb/2019</p>
                    </ion-col>
                    <ion-col col-4>
                        <p>SAR 1000.00</p>
                    </ion-col>
                    <ion-col col-4> <img src=" assets/imgs/asset_qr.png "></ion-col>
                </ion-row>
            </li>

        </ul>
    </div>
</ion-content>
<ion-footer>
    <div class="bottom_bay">
        <div class="bottom_btn floatRight home_btn" (click)="home()">
            <p>Home</p>
        </div>
        <div class="clear "></div>
    </div>

</ion-footer>