<ion-header class="nav_header theme_primary">
    <div class="nav_header_title">
        More
    </div>
</ion-header>
<ion-content>
    <div class="logo_header">
        <img src="assets/imgs/asset_logo.png">
    </div>
    <div class="summary_section">
        <h5>Summary</h5>
        <div class="summary_val_1">
            4.00<span>USD</span>
        </div>
        <div class="widthFull textCenter" padding>
            <img src=" assets/imgs/asset_double_down.png ">
        </div>
        <div class="summary_val_2">
            3.75
        </div>
    </div>


</ion-content>
<ion-footer>
    <div class="bottom_bay theme_primary">
        <div class="bottom_btn floatLeft" (click)="back()">
            <img src=" assets/imgs/asset_cancel.png ">
            <p>Back</p>
        </div>

        <div class="bottom_btn floatRight" (click)="next()">
            <img src="assets/imgs/asset_proceed.png ">
            <p>Proceed</p>
        </div>
        <div class="clear "></div>
    </div>
</ion-footer>