page-summary {
    .logo_header {
        padding: 10px;
        padding-left: 15px;
        border-bottom: 2px solid #85adbc;
        img {
            width: 75px;
        }
    }
    .summary_section {
        width: 100%;
        padding: 10px;
        padding-top: 10%;
        h5 {
            color: #1e6eaf;
            padding: 0px;
            margin: 0px;
            padding-bottom: 15px;
            padding-top: 10px;
        }
        .summary_val_1 {
            color: #303030;
            background-image: url("/assets/imgs/asset_summary.png");
            background-repeat: no-repeat;
            font-size: 50px;
            padding: 20px;
            background-size: 70px;
            background-position: 5px;
            text-align: center;
            span {
                font-size: 16px;
                margin-left: 10px;
            }
        }
        .summary_val_2 {
            color: #297ac6;
            background-image: url("/assets/imgs/asset_dollar_exchange.png");
            background-repeat: no-repeat;
            font-size: 50px;
            padding: 20px;
            background-size: 70px;
            background-position: 5px;
            text-align: center;
        }
    }
    .bottom_bay {
        .bottom_btn {
            text-align: center;
            padding: 15px;
            img {
                width: 30px;
            }
            p {
                margin: 0px;
                padding: 0px;
                color: #fff;
                text-align: center;
                font-size: 12px;
            }
        }
    }
}