<ion-header class="nav_header theme_primary">
    <div class="nav_header_title">
        Forex
    </div>
</ion-header>
<ion-content>
    <div class="wallet_header">
        <ion-row>
            <ion-col col-6 class="p0">
                <p>Wallet Balance</p>
            </ion-col>
            <ion-col col-6 class="textRight p0">
                <span>SAR</span>
                <span><h5>18,989.50</h5></span>
            </ion-col>
        </ion-row>
    </div>

    <h2>Your QR Code</h2>

    <div class="qrcode">
        <p>Your QR for this transaction</p>
        <img src=" assets/imgs/asset_qr.png ">
    </div>
    <hr>

    <div class="wallet_main">
        <div class="wallet_header_dark">
            <ion-row>
                <ion-col col-6 class="p0">
                    <div class="country_circle">
                        <img src=" assets/imgs/asset_usa.png ">
                    </div>
                    <div class="currency">
                        USD
                        <p>US Dollar</p>
                    </div>
                </ion-col>
                <ion-col col-6 class="textRight p0">
                    <div class="inner">
                        <p>Total USD</p>
                        <span>$</span>
                        <span><h5>5,063.87</h5></span>
                    </div>

                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>
<ion-footer>
    <div class="bottom_bay">
        <div class="bottom_btn floatLeft mytransaction_btn" (click)="transaction()">
            <p>My transaction</p>
        </div>
        <div class="bottom_btn floatRight home_btn" (click)="home()">
            <p>Home</p>
        </div>
        <div class="clear "></div>
    </div>

</ion-footer>